{% extends 'layout.html' %}
{% block content %}
<head>
    <style>
        .button {
            background-color: gray;
            border: none;
            border-radius: 12px;
            color: white;
            padding: 10px 26px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<form method="get" action="/">
    <button class="button" type="submit">Logout</button>
</form>
<br>
Show all articles (<a style="text-decoration: none; color: blue;" href="/articles/create">Create</a>)
<ul>
    {% for article in articles %}
    <li>
        <a style="text-decoration: none; color: blue;" href="/articles/{{ article.id }}">
            {{ article.title }}
        </a>
        <form style="display: inline-block;" method="post" action="/articles/{{ article.id }}/delete">
            <button type="submit" name="delete" onclick="return confirm('Are you sure?')">X</button>
        </form>
    </li>
    {% endfor %}
</ul>
<form method="get" action="/all">
    <button class="button" type="submit">All Users</button>
</form>
</body>
{% endblock %}
