<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button {
            background-color: gray;
            border: none;
            border-radius: 12px;
            color: white;
            padding: 5px 26px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
    <div>
        <form style="text-align: center; margin-bottom: 0" action="/users/login" class="form-login" method="post">
            <fieldset>
                <legend>Login</legend>
                <div class="input-block">
                    <label for="login-email">Email</label>
                    <input id="login-email" type="text" name="email" required>
                </div>
                <div class="input-block">
                    <label for="login-password">Password</label>
                    <input id="login-password" type="password" name="password" required>
                </div>
            </fieldset>
            <button class="button" type="submit" class="btn-login" name="submit">Login</button>
        </form>
        <form style="text-align: center;" action="/users/register" method="get">
            <button class="button" type="submit">Sign Up</button>
        </form>
    </div>
</div>